body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.contact-bar {
    box-sizing: border-box;
    height: 10vh;
    padding-left: 1%;
    padding-right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    /* border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5%; */
}

.contact-bar>a {
    height: 100%;
}

.contact-bar>a>img {
    height: 100%;
    width: auto;
}

.contact-bar-button>a {
    color: #ffd700;
    text-decoration: none;
    padding: 10%;

}

#contact-bar-button-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.contact-bar-button>button {
    height: 10vh;
    width: auto;
    font-size: 100%;
    background-color: white;
    border-style: none;

}

.contact-bar-button>button:hover {
    color: red;
}

.intro-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.intro-section h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: fadeInText 1s forwards 1s;
}

.intro-section p {
    font-size: 1.5em;
    opacity: 0;
    animation: fadeInText 1s forwards 2s;
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/pasta_suround.png') no-repeat center center/cover;
    opacity: 0;
    animation: fadeInBackground 1s forwards;
    z-index: -1;
}

#kontakta {
    background-color: #474645;
    padding: 1%;
    color: white;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 3%;
    background-color: rgba(256, 256, 256, 0.9);

}

.text>p {
    font-size: 900;
}

#pasta-ppl {
    background: url(img/freepik-export-20241016135327fyfZ.jpeg) no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pasta-cirkel {
    background: url(img/pasta-med-cirkel.jpeg) no-repeat center center/cover;
    background-size: cover;
    height: 110vh;
}

main {
    display: flex;
    margin: 20vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 8%;
    left: 2%;
    box-sizing: border-box;
    max-width: 40%;
}

#text2>p {
    font-size: 900;
}

@media only screen and (max-width: 767px) {
    #text2 {
        bottom: -8%;
    }
    #pasta-cirkel{
        background-position-x: 60%;
    }
}